<article class="article">
    <div class="card">
        <img src="../assets/card23.png" alt="card23">
    </div>


    <div class="qt">
        <div class="qt_head">
            <h1>Quick Transfer</h1>
            <a href="#">
                <img src="../assets/svg/menu_dots.svg" alt="menu">
            </a>
        </div>
        <div class="qt_inputs">
            <div class="shield">
                <input type="text" placeholder="573489534789">

                <div class="shield_img">
                    <img src="../assets/svg/shield.svg" alt="shield">
                </div>
            </div>

            <div class="cNc">
                <div class="count">
                    <input type="number" placeholder="356.87" minlength="1" maxlength="8">
                </div>
    
                <div class="dropdown text-center">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <p>Choose <br> Currency</p>
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="#">USDT</a></li>
                        <li><a class="dropdown-item" href="#">EUR</a></li>
                        <li><a class="dropdown-item" href="#">CHF</a></li>
                        <li><a class="dropdown-item" href="#">AUD</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="qt_btns">
            <button class="qt_btns_btn1">
                <a href="#">
                    Submit
                </a>
            </button>
            
            <button class="qt_btns_btn2">
                <a href="#">
                    Save this address
                </a>
            </button>
        </div>
    </div>

    <div class="history" style="margin-top: 5px;">
        <h1>Transfers</h1>
        <div class="history_head">
            <p>Scheduled Transfers</p>
            <div class="view">
                <span>View All</span>
                <img src="../assets/svg/arrow.svg" alt="arrow">
            </div>
        </div>
        <div class="history_list">
            <ul>
                <li><a href="#">
                    <span class="l2l2">L05PL0PE0ZCV</span><br>
                    <span class="date">May 23, 2022 at 06:25 am</span>
                </a></li>
                <li><a href="#">
                    <span class="l2l2">LCFYO7IA2ILF</span><br>
                    <span class="date">May 15, 2022 at 11:00 pm</span>
                </a></li>
            </ul>
            <ul class="history_list_ul2">
                <li><a href="#"><p><b>- $754.90</b></p></a></li>
                <li><a href="#"><p><b>- $223.00</b></p></a></li>
            </ul>
        </div>
    </div>
</article>