<main class="main">
    <section class="section_welcome">
        <div class="welcome">
            <h3>Welcome Back!</h3>
            <p>Ricardo Thompson</p>
        </div>
        <div class="search">
            <label class="search_label">
                <input type="search" class="form-control" placeholder="Search transactions..." aria-label="Search">
                <!-- <div class="search_img">
                    <img src="../assets/svg/dandruff.svg" alt="dandruff">
                </div> -->
            </label>
        </div>
    </section>
    
    <section class="balance">
        <div class="total_balance">
    
            <div class="USDC_balance">
                <h1>Total Balance</h1>
                <div class="USDC_balance_p">
                    <p>USDC Balance</p>
                    <img src="../assets/svg/arrow.svg" alt="arrow">
                </div>
                <div class="USDC_balance_bal">
                    <p><span>54,819.74</span> USDC</p>
                </div>
                <div class="balance_walletid">
                    <p>Wallet ID: <span>2QVT7C0LOWEJ</span></p>
                </div>
            </div>
            <div class="balance_btns">
                <button class="balance_btn1">
                    <a href="#">
                        Deposit
                    </a>
                </button>
    
                <button class="balance_btn2">
                    <a href="#">
                        Withdraw
                    </a>
                </button>
    
            </div>
        </div>
    </section>
    
    <section class="transactions">
        <div class="transactions_header">
            <h1>Recent Transactions</h1>
            <div class="view">
                <span>View All</span>
                <img src="../assets/svg/arrow.svg" alt="arrow">
            </div>
        </div>
        <div class="table">
            <div class="item item_1">
                <p>Wallet ID</p>
            </div>
            <div class="item item_2">
                <p>Date</p>
            </div>
            <div class="item item_3">
                <p>Amount</p>
            </div>
            <div class="item item_4">
                <p>Status</p>
            </div>
            <div class="item item_5">
                <label>DY04210S0XA5</label>
                <span>Hash: 2111853732263042</span>
            </div>
            <div class="item item_6">
                <span>May 23, 2022</span>
            </div>
            <div class="item item_7">
                <span>$250.00</span>
            </div>
            <div class="item item_8">
                <span>Completed</span>
            </div>
            <div class="item item_9">
                <label>PILMA81KS4JA</label>
                <span>Hash: 0348408522616817</span>
            </div>
            <div class="item item_10">
                <span>May 19, 2022</span>
            </div>
            <div class="item item_11">
                <span>$980.00</span>
            </div>
            <div class="item item_12">
                <span>Completed</span>
            </div>
            <div class="item item_13">
                <label>JV72FR6TIL1S</label>
                <span>Hash: 1555845473775037</span>
            </div>
            <div class="item item_14">
                May 15, 2022
            </div>
            <div class="item item_15">
                <span>$290.00</span>
            </div>
            <div class="item item_16">
                <span>Failed</span>
            </div>
        </div>
    </section>
</main>