
<nav class="nav">
    <div>
        <div class="logo">
            <a href="#">
                <img src="../assets/svg/logo.svg" alt="logo" />
            </a>
        </div>
        
        <ul class="nav_menu">
            <p class="nav_menu_p_menu">Main Menu</p>

            <li class="blue_one" style="">
                <img src="../assets/svg/dashboard.svg" alt="dashboard" />
                <p>Dashboard</p>
                <img class="end" style="margin-left: 42px;" src="../assets/svg/rectangle.svg" alt="rectangle" />
            </li>
            <li>
                <img src="../assets/svg/transactions.svg" alt="transaction" />
                <p>Transactions</p>
            </li>
            <li>
                <img src="../assets/svg/transfer.svg" alt="tarnsfer" />
                <p>Transfer</p>
            </li>
            <li>
                <img src="../assets/svg/deposit.svg" alt="deposit" />
                <p>Deposit</p>
            </li>
            <li>
                <img src="../assets/svg/withdraw.svg" alt="withdraw" />
                <p>Withdraw</p>
            </li>
            <li>
                <img src="../assets/svg/payment.svg" alt="payments" />
                <p>Payments</p>
            </li>
            <li>
                <img src="../assets/svg/messages.svg" alt="messages" />
                <p>Messages</p>
            </li>
        </ul>
    </div>
    <nav class="">
        <ul class="footer_nav">
            <li>
                <img src="../assets/svg/account.svg" alt="account" />
                <p>Account</p>
            </li>
            <li>
                <img src="../assets/svg/settings.svg" alt="setting" />
                <p>Settings</p>
            </li>
        </ul>
    </nav>
</nav>

<nav class="nav_burger">
    <div class="burger">
        <img src="../assets/svg/menu.svg" alt="menu">
    </div>
</nav>